<div class="modal fade" id="slackCommandModal" tabindex="-1" role="dialog" aria-labelledby="slackCommandModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="slackCommandModalLabel">Vote Command</h4>
      </div>
      <div class="modal-body">
        <p>Copy and paste the below command into Slack</p>
        <input readonly type="text" class="form-control" id="commandBox" placeholder="/vote ...">
        <div id="mobileCommandBox"></div>
        <button type="button" class="clear-cheers btn btn-danger" data-dismiss="modal">Dismiss and Start Over</button>
      </div>
    </div>
  </div>
</div>
