<div id="hand" class="animated bounce arrow" hidden>☟</div>
<div class="commandContainer">
  <p class="commandInfo">Copy and paste the below command into Slack</p>
  <input readonly type="text" class="form-control" id="commandBox" placeholder="/vote ...">
  <div id="mobileCommandBox"></div>
  <button type="button" class="clear-cheers btn btn-danger" disabled>Clear and Start Over</button>
</div>
