<% if shoutouts && !shoutouts.empty? %>
  <span class="label label-primary"><%= shoutouts.size %></span>
  cheers made by
  <span class="label label-info">
    <%= unique_senders_count(shoutouts) %>
    <span class="glyphicon glyphicon-user"></span>
  </span>&nbsp;
  to
  <span class="label label-info">
    <%= unique_recipients_count(shoutouts) %>
    <span class="glyphicon glyphicon-user"></span>
  </span>&nbsp;
  this week
  <% if (count = cheer_count(shoutouts)) > 0 %>
    -
    <span class="label label-primary"><%= count %></span> 🎉
  <% end %>
<% end %>
