<%= render 'navbar', shoutouts: @shoutouts, admin_view: false %>

<div class="container">
  <p class="votesRemaining">
    <span id="votesRemaining" class="label label-success">3 votes remaining</span>
  <p>
  <%= render 'voting_list', shoutouts: @shoutouts  %>
</div>

<footer>
  <%= render 'slack_command' %>
</footer>
