<%= render 'navbar', shoutouts: @shoutouts %>

<div class="container">
  <h1 class="tag-title text-center">#<%= @tag %></h1>
  <%= render 'voting_list', shoutouts: @shoutouts  %>
</div>

<footer>
  <%= render 'slack_command' %>
</footer>
