<div class="container">
  <h1>Three Cheers Help</h1>
  <p>During the week shoutout to people who helped you out.</p>
  <pre><strong>/shoutout</strong> <em>@person</em> saved me a ton of time with all the things. Thanks!</pre>

  <p>Made a mistake? Change the course of history with:</p>
  <pre><strong>/shoutout</strong> undo</pre>

  <p>At the end of the week take a look at all the shoutouts on this page and vote on 3 favorites. Click the buttons on this page to build the <code>/vote</code> command. It should to look something like this:</p>
  <pre><strong>/vote</strong> #1 #2 #3</pre>

  <p>Made another mistake? You can <code>undo</code> the latest vote and <code>clear</code> all votes like this:</p>
  <pre><strong>/vote</strong> undo</pre>
  <pre><strong>/vote</strong> clear</pre>
</div>
