/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

header {
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 30px 20px white;
  z-index: 100;
}

header p {
  color: Grey;
}

mark {
  background-color: #FFFFCE;
  border: 1px solid #E6E65C;
  border-radius: 3px;
}

hr {
  margin: 15px 0px;
}

.flash {
  background-color: orange;
  color: white;
  font-weight: bold;
}

.title {
  font-family: 'Pacifico', display;
  font-size: 4em;
}

.tag-title {
  padding: 0px 20px;
}

.subtitle {
  font-family: 'Pacifico', display;
  font-size: 2em;
}

.shoutouts {
  margin-top: 180px;
  margin-bottom: 225px;
}

.tag-shoutouts {
  margin-top: 210px;
  margin-bottom: 150px;
}

.shoutout-id {
  margin-bottom: 5px;
}

.timestamp {
  color: Grey;
  font-size: 0.8em;
  white-space: nowrap;
}

.cheer {
  margin-bottom: 0px;
}

.cheer .lead {
  margin-bottom: 0px;
}

.cheer-button {
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 20px
}

.cheer-button-counter {
  font-size: 14px;
  background-color: #ddd;
  border-radius: 3px;
  padding: 0px 3px;
}

.cheer-button-counter:empty {
    display:none;
}

.clear-cheers {
  display: block;
  width: 45%;
  margin: auto;
  margin-top: 10px;
  font-size: 20px;
}

.help-button {
  position: fixed;
  z-index: 200;
  top: 10px;
  left: 10px;
}

.the-end {
  margin-top: 20px;
  font-family: 'Pacifico', display;
  font-size: 0.9em;
  color: Grey;
}

.form-control {
  height: auto;
}

.emoji {
  max-height: 30px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.commandInfo {
  font-size: 20px;
  text-align: center;
}

.commandContainer {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 50px 20px white;
}

#commandBox {
  width: 45%;
  margin: 10px auto;
  display: block;
  padding: 15px 10px;
  font-size: 30px;
  text-align: center;
  font-family: monospace;
}

.top {
  background-color: #FFD700;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #FFD700;
}

.reveal {
  margin: 10% auto;
}

.reveal .star {
  color: Gold;
  font-size: 8em;
  padding: 0px;
}

.reveal-meta {
  margin: 30px 0px;
  text-align: center;
  font-size: 2em;
}

.reveal-message {
  font-size: 4em;
}

.reveal-message mark {
  border-radius: 10px;
}

.arrow {
  text-align: center;
  font-size: 100px;
}

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#mobileCommandBox {
  background-color: LightGrey;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  font-family: monospace;
  display: none;
}

@media only screen and (max-width: 667px) {
  hr {
    margin: 5px 0px;
  }

  #commandBox {
    display: none;
  }

  #mobileCommandBox {
    display: block;
  }

  .well {
    padding: 5px;
  }

  .title {
    font-size: 2em;
  }

  .subtitle {
    display: none;
  }

  .shoutouts {
    margin-top: 100px;
  }

  .cheer-button {
    float: right;
    margin-top: -25px;
    padding: 1px 5px;
  }

  .cheer-button-counter {
    float: right;
    margin-top: -18px;
    margin-right: 10px;
  }

  #confetti {
    display: none;
  }
}
